{% extends "base.html" %}

{% block content %}
    <div class = "card-wrapper">

        <div class = "card">

            <h1 class = "center"> Register New User </h1>

            <!-- Form allowing the admin to create a users credentials -->
            <form name="register_form">
                
                <!-- Label to input user name -->
                <label for= "name">Name</label>
                <input type= "text" name= "name" class="field" required>
                
                <!-- Label to input user email -->
                <label for= "email">Email</label>
                <input type= "email" name= "email" class="field" required>

                <!-- Label to select the user role -->
                <label for= "role">Role</label>
                <select name="role" class="field" required>
                    <option value="Teaching Associate">Teaching Associate</option>
                    <option value="Module Leader">Module Leader</option>
                    <option value="Admin">Admin</option>
                </select>

                <!-- Label to select the user password -->
                <label for= "password">Password</label>
                <input type= "password" name= "password" class="field" required>

                 <!-- Displays error messages -->
                <p class= "error error--hidden"> </p>

                <!-- Button to submit the form -->
                <input type= "submit" value = "Register" class= "btn">
            
            </form>

            <div class = "centre">
                <a href = "/user/signout" class = "btn btn--secondary"> Sign Out </a>
            </div>

    {{ session['logged_in'] }}
    {{ session['user'] }}

<h1> Admin Interface </h1>

{% endblock %}
