{% extends "base.html" %}

{% block content %}

<h1> Teaching Associate  </h1>

<div class = "centre">
    <a href = "/user/signout" class = "btn btn--secondary"> Sign Out </a>
</div>

    {{ session['logged_in'] }}
    {{ session['user'] }}

    <form id="availability_form">
        <label for="availability">Set Your Availability:</label>
        <button type="submit">Update Availability</button>
    </form>

    <form id="skills_form">
        <label for="skills">Select a Skill to Add:</label>
        <select name="skill" id="skills">
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="HTML">HTML</option>
            <option value="C++">C++</option>
            <option value="MATLAB">MATLAB</option>
            <option value="SQL">SQL</option>
            <option value="Flask">Flask</option>
            <option value="Mongodb">Mongodb</option>
            <option value="JS">JS</option>
            <option value="C">C</option>
            <option value="Visual Basic"></option>
        </select>
        <button type="submit">Add Skill</button>
    </form>    

{% endblock %}